<a href="https://colab.research.google.com/github/lazizrakhmat/DS-Notebook/blob/main/SQLNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# Data Science va Sun'iy Intellekt Praktikum

## 3-MODUL. MA’LUMOTLARGA ISHLOV BERISH

### 3.1 Fayllar bilan ishlash

#### Ma'lumotlar ombori bilan ishlash

**Maʼlumotlar ombori (MO)** bu – maʼlumotlarni saqlash, oʻqish, qayta ishlash va qidirish uchun moʻljallangan markaziy maʼlumotlar ombori. Turli dasturlar yaratar ekanmiz, dastur ishlashiga oid boʻlgan maʼlumotlarni u yoki bu koʻrinishda saqlashimiz kerak. Misol uchun dastur foydalanuvchilari va ularning shaxsiy maʼlumotlari, rasmlari, postlar, mahsulotlar va hokazo.

Bu maʼlumotlarni qay koʻrinishda saqlash, turli maʼlumotlar oʻrtasidagi munosabatlar (foydalanuvchi-post, mijoz-mahsulot), bu maʼlumotlarga murojaat qilish va unumli foydalanish uchun MOni toʻgʻri loyihalash juda muhim ahamiyatga ega.

Bugungi kunda maʼlumotlar bazasini boshqarish uchun turli tizimlar mavjud. Bulardan eng mashhurlari: MySQL, Oracle DB, PostgreSQL, MongoDB, SQLite Microsoft SQL server, IBM DB2.

Ma'lumotlar omborida ma'lumotlar jadvallar ko'rinishida saqlanadi. Jadvallar u yoki bu ko'rinishda bir-biriga bog'langan bo'lishi mumkin:

![](https://i1.wp.com/i.imgur.com/YQ9Fe3b.png?ssl=1)

[Batafsil...](https://mohirdev.uz/ma%ca%bclumotlar-bazasini-loyihalash-1-qism/)

#### SQL tili

Ushbu darsimizda biz eng ken tarqalgan SQL (Structured Query Language) tili yordamida ma'lumotlar ombori bilan ishlashni o'rganamiz. 

Bu til yordamida MySQL, PostgreSQL, Sqlite kabi omborlar bilan ishlash mumkin.

### SQLning asosiy buyruqlari

- `SELECT` - MOdan ma'lumot olish
- `UPDATE` - MOdagi ma'lumotlarni yangilash
- `DELETE` - MOdan ma'lumot o'chirish
- `INSERT INTO` - MOga yangi ma'lumot qo'shish
- `CREATE DATABASE` - Yangi MO yaratish
- `ALTER DATABASE` - MOni o'zgartirish
- `CREATE TABLE` - Yangi jadval yaratish
- `ALTER TABLE` - Jadvalni o'zgartirish
- `DROP TABLE` - Jadvalni o'chirish
- `CREATE INDEX` - Indeks yaratish
- `DROP INDEX` - Indeks o'chirish

\*SQL buyruqlari katta (SELECT) yoki kichik (select) yoki aralash (Select) harf bilan yozilishi mumkin

Ushbu darsimizda biz Python bilan birga o'rnatiluvchi, faylli ma'lumotlar ombori Sqlite dan foydalanamiz. SQL buyruqlar barcha SQL turdagi omborlar uchun bir xil bo'lgani sabab, amaliyot uchun aynan qaysi turdagi ombordan foydalanish ahamiyatsiz.

Agar sizning kompyuteringizda PostgreSQL ombori o'tnatilgan bo'lsa, quyida biz PostgreSQL omboriga ulanishni ko'rsatib o'tganmiz.

1. PostgreSQL bilan ishlash uchun `psycopg2` kutubxonasini o'rnatamiz

``` # !pip install psycopg2-binary ```
 
``` # import psycopg2 as psql ```

2. PostgreSQL ga ulanish

In [ ]:
# pdb = psql.connect(
#     host = "localhost",
#     database = "postgres",
#     user = "postgres",
#     password = "PAROLINGIZ"
# )
# cursor = pdb.cursor()
# cursor.execute("SELECT version()")
# print(cursor.fetchone())

**Darslarimizni esa `Sqlite` bilan ishlashda davom etamiz.**

# Kerakli modullarni chaqirib olamiz

In [ ]:
import pandas as pd
import sqlite3 as sql
from pprint import pprint as print # natijalarni chiroyli chiqarish uchun pprint modulidan foydalanamiz

## Darsimiz uchun kerak bo'ladigan ma'lumotlar omborini yuklab olamiz

In [ ]:
url = "https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip"
## Agfara Google Colabda ishlashangiz keyingi 2 qatorni ishga tushuring
# !wget url
# !unzip "chinook.zip"

## Agar shaxsiy kompyuterda, Jupyter Notebookda ishlasangiz keyingi 4 qatorni ishga tushuring
from urllib.request import urlretrieve
import shutil
urlretrieve(url, "chinook.zip") # faylni yuklab olish
shutil.unpack_archive("chinook.zip") # zip faylni ochish

### Yuklab olingan omborga (`chinook.db`) ga ulanamiz

In [ ]:
db =sql.connect("chinook.db")
cursor = db.cursor()

### DB tarkibidagi jadvallarni ko'ramiz

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',)]

### Jadval qatorlari sonini ko'rish

In [ ]:
# customers jadvali qatorlar sonini ko'ramiz
cursor.execute("SELECT COUNT (*) FROM customers")
cursor.fetchone()

(59,)

### Jadval ustunlarini ko'rish

In [ ]:
# customers jadvali ustunlarini ko'ramiz
# PRAGMA buyrug'i Sqlitega xos
cursor.execute("PRAGMA table_info(customers);")
cursor.fetchall()

[(0, 'CustomerId', 'INTEGER', 1, None, 1),
 (1, 'FirstName', 'NVARCHAR(40)', 1, None, 0),
 (2, 'LastName', 'NVARCHAR(20)', 1, None, 0),
 (3, 'Company', 'NVARCHAR(80)', 0, None, 0),
 (4, 'Address', 'NVARCHAR(70)', 0, None, 0),
 (5, 'City', 'NVARCHAR(40)', 0, None, 0),
 (6, 'State', 'NVARCHAR(40)', 0, None, 0),
 (7, 'Country', 'NVARCHAR(40)', 0, None, 0),
 (8, 'PostalCode', 'NVARCHAR(10)', 0, None, 0),
 (9, 'Phone', 'NVARCHAR(24)', 0, None, 0),
 (10, 'Fax', 'NVARCHAR(24)', 0, None, 0),
 (11, 'Email', 'NVARCHAR(60)', 1, None, 0),
 (12, 'SupportRepId', 'INTEGER', 0, None, 0)]

### Jadvallar tarkibini ko'ramiz
Boshlanishiga keling jadval yuqorisidan 5 qatorni chaqirib olamiz va DF ga yuklaymiz. 

Katta (minglab qatorlardan iborat) jadvallar bilan ishlashda shunday yo'l tavsiya qilinadi.

In [ ]:
query = "SELECT * FROM customers LIMIT 5"
df = pd.read_sql(query, db, index_col="CustomerId") # CustomerId ustunidan DF Indeksi sifatida foydalanamiz
df

,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
CustomerId,,,,,,,,,,,,
1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4

In [ ]:
# customers jadvalidagi barcha mijozlarni ko'rish
query = "SELECT * FROM customers"
df = pd.read_sql(query, db, index_col="CustomerId")
df.sample(5)

,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
CustomerId,,,,,,,,,,,,
6,Helena,Holý,None,Rilská 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5
22,Heather,Leacock,None,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,None,hleacock@gmail.com,4
1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
21,Kathy,Chase,None,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,None,kachase@hotmail.com,5
17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5

In [ ]:
# Jadvalni chaqirishda aynan qaysi ustunlar kerakligini ham ko'rsatishimiz mumkin
query = "SELECT FirstName, LastName, City, State, Phone, Email FROM customers LIMIT 10"
pd.read_sql(query, db)

,FirstName,LastName,City,State,Phone,Email
0,Luís,Gonçalves,São José dos Campos,SP,+55 (12) 3923-5555,luisg@embraer.com.br
1,Leonie,Köhler,Stuttgart,None,+49 0711 2842222,leonekohler@surfeu.de
2,François,Tremblay,Montréal,QC,+1 (514) 721-4711,ftremblay@gmail.com
3,Bjørn,Hansen,Oslo,None,+47 22 44 22 22,bjorn.hansen@yahoo.no
4,František,Wichterlová,Prague,None,+420 2 4172 5555,frantisekw@jetbrains.com
5,Helena,Holý,Prague,None,+420 2 4177 0449,hholy@gmail.com
6,Astrid,Gruber,Vienne,None,+43 01 5134505,astrid.gruber@apple.at
7,Daan,Peeters,Brussels,None,+32 02 219 03 03,daan_peeters@apple.be
8,Kara,Nielsen,Copenhagen,None,+453 3331 9991,kara.nielsen@jubii.dk
9,Eduardo,Martins,São Paulo,SP,+55 (11) 3033-5446,eduardo@woodstock.com.br

In [ ]:
# Ma'lumotlarni biror ustun bo'yicha tartiblash
query = "SELECT * FROM customers ORDER BY Country"
df = pd.read_sql(query, db, index_col="CustomerId")
df.head(10)

,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
CustomerId,,,,,,,,,,,,
56,Diego,Gutiérrez,None,307 Macacha Güemes,Buenos Aires,None,Argentina,1106,+54 (0)11 4311 4333,None,diego.gutierrez@yahoo.ar,4
55,Mark,Taylor,None,421 Bourke Street,Sidney,NSW,Australia,2010,+61 (02) 9332 3633,None,mark.taylor@yahoo.au,4
7,Astrid,Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5
8,Daan,Peeters,None,Grétrystraat 63,Brussels,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4
1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4
11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5
12,Roberto,Almeida,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
13,Fernanda,Ramos,None,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4
3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3

In [ ]:
# Ma'lumotlarni biror ustun bo'yicha kamayish tartyibida olish
query = "SELECT * FROM customers ORDER BY Country DESC"
df = pd.read_sql(query, db, index_col="CustomerId")
df.head(10)

,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
CustomerId,,,,,,,,,,,,
52,Emma,Jones,None,202 Hoxton Street,London,None,United Kingdom,N1 5LH,+44 020 7707 0707,None,emma_jones@hotmail.com,3
53,Phil,Hughes,None,113 Lupus St,London,None,United Kingdom,SW1V 3EN,+44 020 7976 5722,None,phil.hughes@gmail.com,3
54,Steve,Murray,None,110 Raeburn Pl,Edinburgh,None,United Kingdom,EH4 1HH,+44 0131 315 3300,None,steve.murray@yahoo.uk,5
16,Frank,Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com,4
17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5
18,Michelle,Brooks,None,627 Broadway,New York,NY,USA,10012-2612,+1 (212) 221-3546,+1 (212) 221-4679,michelleb@aol.com,3
19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3
20,Dan,Miller,None,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,None,dmiller@comcast.com,4
21,Kathy,Chase,None,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,None,kachase@hotmail.com,5
22,Heather,Leacock,None,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,None,hleacock@gmail.com,4

#### Noyob (DISTINCT) qiymatlarni ko'rish

Misol uchun jadvaldagi barcha mavjud davlatlarni ko'rish uchun `DISTINCT` buyrug'idan foydalanamiz.

In [ ]:
query = "SELECT DISTINCT Country FROM customers"
cursor.execute(query)
cursor.fetchall()

[('Brazil',),
 ('Germany',),
 ('Canada',),
 ('Norway',),
 ('Czech Republic',),
 ('Austria',),
 ('Belgium',),
 ('Denmark',),
 ('USA',),
 ('Portugal',),
 ('France',),
 ('Finland',),
 ('Hungary',),
 ('Ireland',),
 ('Italy',),
 ('Netherlands',),
 ('Poland',),
 ('Spain',),
 ('Sweden',),
 ('United Kingdom',),
 ('Australia',),
 ('Argentina',),
 ('Chile',),
 ('India',)]

In [ ]:
# natijani 
countries = pd.read_sql(query, db)
countries.head()

          Country
0          Brazil
1         Germany
2          Canada
3          Norway
4  Czech Republic

In [ ]:
obj = countries['Country']
print(obj)

0             Brazil
1            Germany
2             Canada
3             Norway
4     Czech Republic
5            Austria
6            Belgium
7            Denmark
8                USA
9           Portugal
10            France
11           Finland
12           Hungary
13           Ireland
14             Italy
15       Netherlands
16            Poland
17             Spain
18            Sweden
19    United Kingdom
20         Australia
21         Argentina
22             Chile
23             India
Name: Country, dtype: object

### `WHERE` yordamida filtrlash

Ma'lumotlarni ombordan olishda turli shartlar yordamida filtlashimiz mumkin

In [ ]:
# Braziliyalik xaridorlarni ajratib olamiz
query = 'SELECT * FROM customers WHERE country="Brazil"'
df = pd.read_sql(query, db, index_col="CustomerId")
df.head(10)

,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
CustomerId,,,,,,,,,,,,
1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4
11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5
12,Roberto,Almeida,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
13,Fernanda,Ramos,None,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4

In [ ]:
# Brazil va USA xaridorlarni ajratib olamiz
# Keling boshlanishiga bunday xaridorlar sonini chiqaramiz
cursor.execute('SELECT COUNT (*) FROM customers WHERE country="Brazil" OR country="USA"')
print(cursor.fetchone())

(18,)

In [ ]:
# Brazil va USA xaridorlarni ajratib olamiz
query = 'SELECT Firstname, LastName, Country, Phone FROM customers WHERE country="Brazil" OR country="USA" ORDER BY Country'
pd.read_sql(query, db)

    FirstName    LastName Country               Phone
0        Luís   Gonçalves  Brazil  +55 (12) 3923-5555
1     Eduardo     Martins  Brazil  +55 (11) 3033-5446
2   Alexandre       Rocha  Brazil  +55 (11) 3055-3278
3     Roberto     Almeida  Brazil  +55 (21) 2271-7000
4    Fernanda       Ramos  Brazil  +55 (61) 3363-5547
5       Frank      Harris     USA   +1 (650) 253-0000
6        Jack       Smith     USA   +1 (425) 882-8080
7    Michelle      Brooks     USA   +1 (212) 221-3546
8         Tim       Goyer     USA   +1 (408) 996-1010
9         Dan      Miller     USA   +1 (650) 644-3358
10      Kathy       Chase     USA   +1 (775) 223-7665
11    Heather     Leacock     USA   +1 (407) 999-7788
12       John      Gordon     USA   +1 (617) 522-1333
13      Frank     Ralston     USA   +1 (312) 332-3232
14     Victor     Stevens     USA   +1 (608) 257-0597
15    Richard  Cunningham     USA   +1 (817) 924-7272
16    Patrick        Gray     USA   +1 (520) 622-4200
17      Julia     Barnett     USA   +1 (801) 531-7272

In [22]:
db.close()